#nav-bar {
  /*position: relative;*/
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0em 2em;
}

#nav-bar .brand .logo {
  width: 80px;
  height: 80px;
  display: block;
  float: left;
  margin: 0px 10px 0px 0px;
}

#nav-bar .brand .header {
  display: block;
  float: left;
  line-height: 80px;
  height: 80px;
  font-size: 2em;
}

#nav-bar input {
  float: right;
  padding: 10px;
  margin-right: 257px;
  margin-top: -61px;
  border-radius: 8px;
  background-color: #e8e8e8;
}

#nav-bar input:hover {
  color: #00a087;
}