/*COMPOSE TWEET CSS*/

.compose-tweet {
  /*background: white;*/
  /*margin-top: 24px;*/
  margin-bottom: 25px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1px;
  padding: 8px;
  border: 2px solid #00a087;
  border-radius: 10px;
  width: 625px;
  height: 180px;

}

.compose-tweet .text {
  padding: 9px;
  width: 606px;
  height: 65px;
  float: left;
  border-radius: 10px;
  margin-top: 10px;

}

.compose-tweet button, input {
  clear: both;
  margin-left: 1px;
  margin-top: 10px;
}

.compose-tweet .counter {
  float: right;
  font-size: medium;
  font-style: italic;
  margin-right: 7px;
  margin-top: 10px;
}

.compose-tweet h2 {
  border-bottom: 1px solid #00a087;
  margin: 4px;
  padding: 3px;
}

.redText {
  color: red;
}

/* ALL TWEETS CSS*/

.tweet {
  border: 2px solid #00a087;
  border-radius: 11px;
  margin: 0 auto;
  width: 625px;
}

.tweet header {
  background-color: #96cab4;
  padding: 1px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  height: 100px;
}

.tweet .profile-pic {
  height: 100px;
  width: 100px;
  float: left;
  margin-left:10px;
  margin-right: 10px;
}

.tweet .twitter-handle {
  float: right;
  padding-right: 10px;
}

.tweet .tweet-content {
  padding: 15px;
}

.tweet .date {
border-top: 1px dashed #00a087;
padding-top: 4px;
padding-left: 8px;
margin-bottom: 3px;
font-size: 13px;
font-style: italic;
}

