/*COMPOSE TWEET CSS*/

#compose-tweet.nothidden {
  display: block;
}

#compose-tweet {
  margin-bottom: 25px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1px;
  padding: 8px;
  border: 2px solid #00a087;
  border-radius: 10px;
  width: 625px;
  height: 180px;
  display: none;
}

#compose-tweet .text {
  padding: 9px;
  width: 606px;
  height: 65px;
  float: left;
  border-radius: 10px;
  margin-top: 10px;
  overflow-wrap: break-word;
}

#compose-tweet button, input {
  clear: both;
  margin-left: 1px;
  margin-top: 10px;
}

#compose-tweet span.alert {
  margin-left: 10px;
  display: none;
}

#compose-tweet .counter {
  float: right;
  font-size: medium;
  font-style: italic;
  margin-right: 7px;
  margin-top: 10px;
}

#compose-tweet h2 {
  border-bottom: 1px solid #00a087;
  margin: 4px;
  padding: 3px;
}

.redText {
  color: red;
}

/* ALL TWEETS CSS*/

article {
  border: 2px solid #00a087;
  border-radius: 11px;
  margin: 2em;
}

article header {
  background-color: #96cab4;
  padding: 1px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  height: 100px;
}

article header img {
  height: 75px;
  width: 75px;
  float: left;
  margin-left:12px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 20px;
}

article header img:hover {
  -webkit-transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
}

.tweet .username:hover {
  font-weight: bold;
}


.handle {
  float: right;
  padding-right: 10px;
}

article span {
  display: block;
  overflow-wrap: break-word;
  padding: 8px;
}

.tweet .date {
font-size: 13px;
font-style: italic;
float: left;
margin-top: 10px;
}

footer img {
  float: right;
  opacity: 0;
  height: 35px;
}

footer img:hover {
  float: right;
  margin-right: 7px;
  opacity: 100;
}


footer {
  border-top: 1px dashed #00a087;
  padding: 0px 0px 0px 8px;
  height: 35px;
}